@import url(general-config.css);

.title {
    font-size: 1.575rem;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
    gap: 40px;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 590px;
}

main section:nth-child(1) {
    flex-direction: row-reverse;
}

main section:nth-child(2) {
    background-color: var(--verde-azulado);
    color: var(--branco);
    text-align: right;
}