@import url(general-config.css);

.sugestao-pergunta {
    width: 100vw;
    padding: 64px;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
}

.sugestao-pergunta h1 {
    color: var(--branco);
}

.sugestao-pergunta article {
    display: flex;
    flex-direction: column;
    gap: 36px;

}

.container-card {
    display: flex;
    gap: 24px;
}

.card-sp {
    padding: 36px;
    border-radius: var(--b-radius);
    background: rgb(1, 209, 184);
    background: linear-gradient(35deg, rgba(1, 209, 184, 1) 0%, rgba(16, 177, 74, 1) 100%);
    max-width: 495px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-sp span {
    display: flex;
    flex-direction: column;
    max-width: 256px;
    gap: 24px;
    color: var(--branco);
}

.card-sp a {
    text-decoration: none;
    color: var(--verde-azulado);
    padding: 8px;
    width: fit-content;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    background-color: var(--branco);
}

/* REDES */

.redes {
    width: 100vw;
    padding: 64px;
    background-color: var(--verde-claro);
    display: flex;
    justify-content: center;
}

.redes article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 36px;
}

.container-redes {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-areas:
        "a b c"
        "d e f";
    gap: 48px;
}

.container-redes figure {
    display: flex;
    align-items: center;
    gap: 24px;
}

.container-redes a {
    text-decoration: none;
    font-weight: 500;
}

/* FAQ */

.faq {
    width: 100vw;
    padding: 64px;
    background-color: var(--verde-escuro);
    display: flex;
    justify-content: center;
}

.container-faq {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
}

.card-faqs {
    display: flex;
    gap: 24px;
    flex-direction: column;
    max-width: 600px;
    border-radius: var(--b-radius);
}

.faq-header {
    display: flex;
    justify-content: space-between;
}

.card-faqs {
    padding: 24px;
    background-color: var(--branco);
}