@import url(general-config.css);

main {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.como-separar {
    background-color: var(--verde-escuro);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px;
    gap: 20px;
    color: var(--branco);
    align-items: center;
}

.como-separar article {
    display: flex;
    align-items: center;
    gap: 20px;
}

.como-separar article div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 320px;
}

.como-separar article image {
    width: 100%;
}

.como-separar article figure {
    margin: 10px;
    max-width: 340px;
}

.como-separar span {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.pontos-de-coleta {
    background-color: var(--verde-claro);
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 48px;
    color: var(--branco);
}

.pontos-de-coleta article {
    display: flex;
    justify-content: space-evenly;
    gap: 48px;
}

.pontos-de-coleta article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 400px;
}

.container-pdc {
    display: flex;
    justify-content: space-between;

}

.pdc {
    padding: 16px 12px;
    border-radius: var(--b-radius);
    font: 500;
    border: none;
}

.pontos-de-coleta img {
    max-width: 530px;
    max-height: 385px;
}

.pontos-de-coleta button {
    background-color: var(--verde-escuro);
    color: var(--branco);
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 1rem;
    border: 4px solid var(--verde-escuro);

}

.pontos-de-coleta button:active {
    transform: scale(0.95);
    transition: 0.1s;
}
.pontos-de-coleta button:hover {
    font-weight: 600;
    font-size: 1rem;
    border: 4px solid var(--verde-escuro);
    background-color: var(--branco);
    color: var(--verde-escuro);
}